body {
  background-color: #C7A41A;
}

h1 {
  text-align: center;
}

h1 {
  padding: 25px 0px;
}

h3 {
  font-size: 2em;
}

#large, #medium, #small {
  width: 20px;
  display: block;
}

.container {
  font-size: .75em;
}

.container-non-responsive, #new_game_button {  /*hide board until user choses number of players*/
  display: none;
}

.secondary_button_color {
  background-color: lightgrey;
}
